.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #7e57c2;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .main-content {
    padding-bottom: 60px;
  }
  